.popup__close-cards {
  width: 32px;
  height: 32px;
  background: url("../../../images/Close.svg") center/32px 32px no-repeat;
  position: absolute;
  border: none;
  right: -40px;
  top: -40px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 520px) {
  .popup__close-cards {
    width: 20px;
    height: 20px;
    right: 0;
    background-size: 20px 20px;
    top: -36px;
  }
}
