.profile__button-edit {
  background: url("../../../images/Edit-button.svg") center/10px 10px no-repeat;
  border: 1px solid #fff;
  max-width: 24px;
  height: 24px;
  margin-bottom: 8px;
  width: 100%;
}
@media screen and (max-width: 720px) {
  .profile__button-edit {
    max-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    width: 100%;
  }
}
