@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__name-edit/profile__name-edit.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__items/elements__items.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__photo/elements__photo.css);
@import url(../blocks/elements/__info/elements__info.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__button-like/elements__button-like.css);
@import url(../blocks/elements/__button-like-active/elements__button-like-active.css);
@import url(../blocks/elements/__button-delete/elements__button-delete.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container-image/popup__container-image.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form/_type/popup__form_type_profile.css);
@import url(../blocks/popup/__form/_type/popup__form_type_cards.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__card-image/popup__card-image.css);
@import url(../blocks/popup/__title-image/popup__title-image.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__close-cards/popup__close-cards.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_type/popup_type_profile.css);
@import url(../blocks/popup/_type/popup_type_cards.css);
@import url(../blocks/popup/popup__error/popup__error.css);
@import url(../blocks/popup/popup__error/_visible/popup__error_visible.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(../blocks/button/button.css);
