.profile__button-avatar {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  object-position: center;
  background-color: transparent;
  border: none;
}

.profile__button-avatar::before {
  cursor: pointer;
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-image: url("../../../images/Add-avatar.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: 26px;
  background-repeat: no-repeat;
}

.profile__button-avatar:hover.profile__button-avatar::before {
  opacity: 1;
}
